.carousel{
    width: 400px;
    height: 221px;
    background-position: center;
    background-image: url:("Thttps://www.laves.niedersachsen.de/startseite/lebensmittel/ruckstande_verunreingungen/pflanzenschutzmittelruckstande-in-mango-212385.html");
}